{% extends "index.html" %}
{% block content %}
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>

<div class='col-sm-6 col-sm-offset-3'>
    <h1>Interfaz Usuario</h1>
<table style="width:100%">
  <tr>
    <th>Nombre</th>
    <th>Accion 1</th> 
    <th>Accion 2</th> 
  </tr>
        <tr>
    <th>Pacientes</th>
    <th><a href="Paciente/Nuevo">Crear</a></th>
    <th><a href="Pacientes">Editar</a></th>
        </tr>
        <tr>
    <th>Trabajadores</th>
    <th><a href="Trabajador/Nuevo">Crear</a></th>
    <th><a href="Trabajadores">Editar</a></th>
        </tr>
         <tr>
    <th>Sedes</th>
    <th><a href="Sede/Nuevo">Crear</a></th>
    <th><a href="Sedes">Editar</a></th>
        </tr>
         <tr>
    <th>Examenes</th>
    <th><a href="Laboratorio/Nuevo">Crear</a></th>
    <th><a href="Examenes">Editar</a></th>
        </tr>
        <tr>
    <th>Medicamento</th>
    <th><a href="Medicina/Nuevo">Crear</a></th>
    <th><a href="Medicinas">Editar</a></th>
        </tr>
    <tr>
    <th>Area</th>
    <th><a href="Area/Nuevo">Crear</a></th>
    <th><a href="Areas">Editar</a></th>
        </tr>
    <tr>
    <th>Habitaciones</th>
    <th><a href="Habitacion/Nuevo">Crear</a></th>
    <th><a href="Habitaciones">Editar</a></th>
        </tr>
    <tr>
    <th>Cama</th>
    <th><a href="Cama/Nuevo">Crear</a></th>
    <th><a href="Camas">Editar</a></th>
        </tr>
    <tr>
    <th>Reporte: Estado del Paciente</th>
    <th><a href="Reporte/Diagnostico">Ir</a></th>
    <th>N/A</th>
        </tr>
    <tr>
    <th>Reporte: Disponibilidad de Camas</th>
    <th><a href="Reporte/Cama">Ir</a></th>
    <th>N/A</th>
        </tr>
    <tr>
    <th>Reporte: Asignacion de Turno</th>
    <th><a href="Reporte/Turno">Ir</a></th>
    <th>N/A</th>
        </tr>
    <tr>
    <th>Reporte: Operaciones Realizadas</th>
    <th><a href="Reporte/Operacion">Ir</a></th>
    <th>N/A</th>
        </tr>
    <tr>
    <th>Reporte: Pacientes dados de Alta</th>
    <th><a href="Reporte/Altas">Ir</a></th>
    <th>N/A</th>
        </tr>
    <tr>
    <th>Reporte: Medicamentos en el Mes</th>
    <th><a href="Reporte/Medicamentos">Ir</a></th>
    <th>N/A</th>
        </tr>
    <tr>
    <th>Reporte: Medico Mas Solicitado</th>
    <th><a href="Reporte/Medicos">Ir</a></th>
    <th>N/A</th>
        </tr>
    <tr>
    <th>Reporte: Examenes de Laboratorio</th>
    <th><a href="Reporte/Examen">Ir</a></th>
    <th>N/A</th>
        </tr>
    <tr>
    <th>Reporte: Hospitalizados</th>
    <th><a href="Reporte/Hospitalizados">Ir</a></th>
    <th>N/A</th>
        </tr>
    <tr>
    <th>Reporte: Gastos del Paciente</th>
    <th><a href="Reporte/Gastos">Ir</a></th>
    <th>N/A</th>
        </tr>
</table>
</div>
{% endblock content %}