{% extends "index.html" %}

{% block section %}
<br/>
<br/>
<br/>
    <h2>{{titulo}}</h2>
    <hr>
{% endblock section %}
{% block content %}
{% if bitacoras %}
<div class='container'>
<table class="table table-bordered table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Accion</th>
      <th>Descripcion</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    {% for bitacora in bitacoras %}
    <tr>
      <th scope="row">{{bitacora.id_bitacora}}</th>
      <td>{{bitacora.accion}}</td>
      <td>{{bitacora.descripcion}}</td>
      <td>{{bitacora.fecha}}</td>
    </tr>
   {% endfor %}
   </tbody>
</table>
 </div>
 {% endif %}
{% endblock content %}