{% extends "index.html" %}

{% block section %}
<br/>
<br/>
<br/>
    <h2>{{titulo}}</h2>
    <hr>
{% endblock section %}
{% block content %}
{% if productos %}
<div class='container'>
<table class="table table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th># Producto</th>
      <th>Nombre del Producto</th>
      <th>Unidades</th>
      <th>Precio</th>
      <th>Sub Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for producto in productos %}
    <tr>
      <th scope="row">{{producto.0}}</th>
      <td>{{producto.1}}</td>
      <td>{{producto.2}}</td>
      <td>Q. {{producto.3}}</td>
      <td>Q. {{producto.4}}</td>
      <td><a href="/Eliminar/Carrito/{{id}}/{{producto.0}}" class="btn btn-danger">Eliminar</a></td>
    </tr>
   {% endfor %}
   </tbody>
</table>
 </div>
 {% endif %}
{% endblock content %}
