{% extends "index.html" %}

{% block section %}
<br/>
<br/>
<br/>
    <h2>{{titulo}}</h2>
    <hr>
{% endblock section %}
{% block content %}
 {% if mensaje == 'M' %}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Contraseña Incorrecta! 
    </div>
{% endif %}
{% if mensaje == 'T' %}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>No tiene suficiente credito para realizar la compra! 
    </div>
{% endif %}
{% if productos %}
<div class='container'>
<table class="table table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th># Producto</th>
      <th>Nombre del Producto</th>
      <th>Unidades</th>
      <th>Precio</th>
      <th>Sub Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for producto in productos %}
    <tr>
      <th scope="row">{{producto.0}}</th>
      <td>{{producto.1}}</td>
      <td>{{producto.2}}</td>
      <td>Q. {{producto.3}}</td>
      <td>Q. {{producto.4}}</td>
      <td><a href="/Eliminar/{{producto.0}}" class="btn btn-danger">Eliminar</a></td>
    </tr>
   {% endfor %}
   </tbody>
</table>
 </div>
 <div class="container">
    <br/>
    <br/>
    <br/>
    <form method="POST"  enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="col-lg-4">
    <h1> Total Q. {{Total}}</h1>
    {{form.as_p}}
    <span class="help-block">Por favor, escribe tu contrasenia para verificar tu compra.</span>
    <input class="btn btn-default btn-lg" type="submit" name="Crear", value=Comprar>
    </div>
   </form>
 </div>
 {% endif %}
{% endblock content %}
