{% extends "index.html" %}
{% block content %}
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>

<div class='col-sm-6 col-sm-offset-3'>
    <h1>Interfaz Usuario</h1>
<table style="width:100%">
  <tr>
    <th>Asignacion</th>
    <th>Accion</th> 
  </tr>
        <tr>
    <th>Habitacion</th>
    <th><a href="Internado/Nuevo">Ir</a></th>
        </tr>
        <tr>
    <th>Turno Trabajador</th>
    <th><a href="Asignar/Turno">Ir</a></th>
        </tr>
    <tr>
    <th>Diagnostico Paciente</th>
    <th><a href="Actualizar/Diagnostico">Ir</a></th>
        </tr>
    <tr>
    <th>Medicamento</th>
    <th><a href="Asignar/Medicamento">Ir</a></th>
        </tr>
    <tr>
    <th>Operaciones</th>
    <th><a href="Asignar/Operacion">Ir</a></th>
        </tr>
    <tr>
    <th>Equipo</th>
    <th><a href="Asignar/Equipo">Ir</a></th>
        </tr>
</table>
</div>
{% endblock content %}