{% extends "index.html" %}
{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
<h1> {{titulo}} </h1>

<form method="POST" action="">{% csrf_token %}
{{form.as_p}}
<input type="submit" name="Crear", value={{Accion}}>
<a href="Usuario/Nuevo">Registrar Usuario</a>
</form>
</div>
{% endblock content %}