{% extends "index.html" %}

{% block section %}
<br/>
<br/>
<br/>
    <h2>{{titulo}}</h2>
    <hr>
{% endblock section %}
{% block content %}
   {% if error == 'O' %}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Estructura de Contraseña incorrecta!</strong> 
        <span class="help-block">Tiene que tener al menos un signo, una mayuscula, una minuscula, y un numero.</span>
    </div>
    {% endif %}
{% if error == 'A' %}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Estructura de Contraseña incorrecta!</strong> 
        <span class="help-block">Tiene que tener al menos un signo, una mayuscula, una minuscula, y un numero o asegurate que sean iguales.</span>
    </div>
    {% endif %}
    {% if error == 'B' %}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Gracias por Registrarte!</strong> 
        <span class="help-block">Se envio un correo electronico para verificar tu cuenta.</span>
    </div>
    {% endif %}
<div class="container">
<div class="row">
<div class="col-lg-2"></div>
	<div class="col-md-7 well well-sm">

        <div class="panel panel-default">
        	 <div class="panel-heading">
                        <h3 class="panel-title">{{titulo}}</h3>
                    </div>
                    <div class="panel-body">
                      <form method="POST" action="" enctype='multipart/form-data'>
                      <table class="table borderless">
                    
                    <tbody>
                      {% csrf_token %}

						{{form.as_table}}
                    </tbody>
                    </table>
						<input class="btn btn-default" type="submit" name="Crear", value={{Accion}}>
						</form>
                    </div>
		</div>
	</div>
    </div>
</div>
{% endblock content %}