<!--DOCTYPE html -->
<html>
<html lang="en">

<head lang="en">
    <meta charset="UTF-8">
    <title>Publishes and Sells</title>
    <!-- CDN Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
 <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Inicio/">Publishes and Sells</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                {% if request.user.is_superuser %}
                      <li class="dropdown">
                    <a href="/Admin/Usuario/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Usuarios <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Registro/Admin/">Crear Administrador</a></li>
                        <li><a href="/Registro/Help/">Crear Help Desk</a></li>
                        <li class="divider"></li>
                        <li><a href="/Registro/">Crear Usuario</a></li>
                        <li class="divider"></li>
                        <li><a href="/Admin/Usuario/">Lista de Usuario(Editar/Eliminar)</a></li>
                    </ul>
                </li>
                     <li class="dropdown">
                    <a href="/Admin/Usuario/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Productos <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Producto/">Ver Productos</a></li>
                        <li class="divider"></li>
                        <li><a href="/Producto/Crear/">Crear Producto</a></li>
                        <li class="divider"></li>
                        <li><a href="/Producto/Carga_Masiva/">Carga Masiva</a></li>
                        <li class="divider"></li>
                        <li><a href="/Admin/Productos/">Lista de Productos(Editar/Eliminar)</a></li>
                    </ul>
                </li>
                 </li>
                     <li class="dropdown">
                    <a href="/Admin/Usuario/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Categoria<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Categoria/Crear/">Crear Categoria</a></li>
                        <li class="divider"></li>
                        <li><a href="/Admin/Categorias/">Lista de Categorias(Editar/Eliminar)</a></li>
                    </ul>
                </li>
                </li>
                     <li class="dropdown">
                    <a href="/Admin/Usuario/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Reportes<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/REP2/">Reporte de Help Desk(Fecha)</a></li>
                        <li><a href="/REP3/">Reporte de Administradoras</a></li>
                        <li><a href="/REP4/">Ganancias de Usuarios</a></li>
                        <li><a href="/REP5/">Puntuacions Productos</a></li>
                        <li><a href="/REP6/">Top de Productos Vendidos</a></li>
                        <li><a href="/REP7/">Top de Usuarios con Mas Productos</a></li>
                        <li><a href="/REP8/">Productos y sus Categorias</a></li>
                         <li><a href="/REP9/">Comentarios por Producto en Y Fecha</a></li>
                         <li><a href="/REP10/">Producto con N Cantidad</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/Admin/Usuario/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Otros<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/Bitacora/">Bitacora</a></li>
                        <li><a href="/Datos/">Editar Datos Pagina Web</a></li>
                    </ul>
                </li>
                {% else %}
                    <li>
                        <a href="/Producto/">Productos</a>
                    </li>
                     {% if request.user.is_authenticated %}
                     <li>
                        <a href="/Producto/Crear/">Vender</a>
                    </li>
                    <li>
                        <a href="/Producto/Carga_Masiva/">Carga Masiva</a>
                    </li>
                     <li>
                        <a href="/Mis_Productos/">Mis Productos</a>
                    </li>
                     {% endif %}
                {% endif %}
                </ul>
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <ul class="nav navbar-nav navbar-right">
                <li><img src="/media/{{request.user.get_username}}.png" height="50" width="50"></li>
                <li><a href="/Perfil/">{{ request.user.get_short_name }}</a></li>
                <li><a href="/Logout/">Logout</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                <li><img src="/media/{{request.user.get_username}}.png" height="50" width="50"></li>
                <li><a href="/Perfil/">{{ request.user.get_short_name }}</a></li>
                <li><a href="/Compras/">Carrito</a></li>
                <li><a href="/Logout/">Logout</a></li>
                </ul>
                {% endif %}
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                <li><a href="/Login/">Iniciar Sesion</a></li>
                <li><a href="/Registro/">Registrarse</a></li>
                </ul>
                {% endif %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<div class="container">
        {% block section %}
        {% endblock section %}
 </div>
<div class='container'>
{% block content %}{% endblock content %}
</div>
</body>
</html>
