<!--DOCTYPE html -->
<html>
<body>
<h1> {{title}}, FUNCIONA </h1>
<table style="width:100%">
<tr>
    <th>ID</th>
    <th>Nombre</th> 
    <th>Telefono</th>
    <th>Direccion</th>
</tr>

<tr>
    <th>{{persona.id_persona}}</th>
    <th>{{persona.nombre_persona}}</th> 
    <th>{{persona.telefono}}</th>
    <th>{{persona.direccion}}</th>
</tr>

</table>
</body>
</html>