{% extends "index.html" %}

{% block section %}
<div class="panel-body">
                        <a href="/media/portada.jpg">
                            <img src="/media/portada.jpg/" class='img-responsive' style="width:1100px;height:500px;"/>
                        </a>
                    </div>
{% endblock section %}
{% block content %}

<br>
                    <div class="bx-wrapper" style="max-width: 1360px; margin: 0px auto;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 337px;"><ul id="welcome-slider" style="width: 515%; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                        <li style="float: left; list-style: none; position: relative; width: 300px; margin-right: 65px;">
                            <div >
                                <h3>Mision</h3>
                                <p>{{Mision}}</p>
                            </div>
                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 300px; margin-right: 65px;">
                            <div >
                                <h3>Vision</h3>
                                <p>{{Vision}}</p>
                            </div>
                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 350px; margin-right: 80px;">
                            <div>
                                <h3>Acerca de</h3>
                                <p>{{Acerca}}
                                </p>
                            </div>
                        </li>
                    </ul></div></div>
 </div>
{% endblock content %}