{% extends "index.html" %}

{% block section %}
<br/>
<br/>
<br/>
    <h2>{{titulo}}</h2>
    <hr>
{% endblock section %}
{% block content %}
{% if categorias %}
<div class='container'>
<table class="table table-bordered table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Nombre Catagoria</th>
      <th>Categoria Padre</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for categoria in categorias %}
    <tr>
      <td>{{categoria.nombre_categoria}}</td>
      <td>{{categoria.categoria_padre}}</td>
      <td><center><a href="/Eliminar/Categoria/{{categoria.nombre_categoria}}" class="btn btn-danger">Eliminar</a></center></td>
      <td><center><a href="/Editar/Categoria/{{categoria.nombre_categoria}}" class="btn btn-Info">Editar</a></center></td>
    </tr>
   {% endfor %}
   </tbody>
</table>
 </div>
 {% endif %}
{% endblock content %}
