{% extends "index.html" %}

{% block section %}
<br/>
<br/>
<br/>
    <h2>{{titulo}}</h2>
    <hr>
{% endblock section %}
{% block content %}
{% if productos %}
<div class='container'>
<table class="table table-bordered table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Codigo</th>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Categoria</th>
      <th>Unidades</th>
      <th>Precio</th>
      <th>Fecha</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for producto in productos %}
    <tr>
      <th scope="row">{{producto.codigo_producto}}</th>
      <td><img src="/media/productos/{{producto.imagen}}" height="50" width="50"></td>
      <td>{{producto.nombre_producto}}</td>
      <td>{{producto.categoria_nombre_categoria}}</td>
      <td>{{producto.cantidad}}</td>
      <td>{{producto.precio_producto}}</td>
      <td>{{producto.fecha_publicacion}}</td>
      <td><a href="/Eliminar/Producto/{{producto.codigo_producto}}" class="btn btn-danger">Eliminar</a></td>
      <td><a href="/Editar/Producto/{{producto.codigo_producto}}" class="btn btn-Info">Editar</a></td>
    </tr>
   {% endfor %}
   </tbody>
</table>
 </div>
 {% endif %}
{% endblock content %}
