{% extends "index.html" %}

{% block section %}
<br/>
<br/>
<br/>
    <h2>{{titulo}}</h2>
    <hr>
{% endblock section %}
{% block content %}
    {% if error == 'S' %}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error El Usuario no Existe!</strong> <a href="Registro" class="alert-link">Registrate</a> o asegurate de haber escrito bien tus datos.
    </div>
    {% endif %}
<div class="container">
<div class="row">
<div class="col-lg-3"></div>
    <div class="col-lg-5 well well-sm">

        <div class="panel panel-default">
             <div class="panel-heading">
                        <h3 class="panel-title">{{titulo}}</h3>
                    </div>
                    <div class="panel-body">
                      <form method="POST" action="" enctype='multipart/form-data'>
                      <table class="table borderless">
                    
                    <tbody>
                      {% csrf_token %}

                        {{form.as_table}}
                    </tbody>
                    </table>
                        <input class="btn btn-default" type="submit" name="Crear", value={{Accion}}>
                        </form>
                    </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}