{% extends "index.html" %}

{% block section %}
<br/>
<br/>
<br/>
    <h2>{{titulo}}</h2>
    <hr>
{% endblock section %}
{% block content %}
 <div class="container">
      
    
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3">
            <div class="list-group table-of-contents">
            {% for p in lista_categoria %}
               {% if p.categoria_padre %}
               {% if SI == 'S'%}
                <a class="list-group-item" href="/Misproductos/{{p.nombre_categoria}}">{{p.nombre_categoria}}</a>
               {% endif %}
              {% else%}
              <a class="list-group-item" href="/Misproductos/{{p.nombre_categoria}}">{{p.nombre_categoria}}</a>
            {% endif %}
            {% endfor %}
            </div>
          </div>
<div class="col-sm-10">
	{% for p in object_list %}
            <div class="col-md-4 well">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title">{{ p.0}}</h6>
                        <h6 class="panel-title">{{ p.1}}</h6>
                        <h6 class="panel-title">{{ p.2}}</h6>
                    </div>
                    <div class="panel-body">
                        <a href="/Misproductos/Editar/{{p.1}}">
                            <img src="/media/productos/{{p.3}}" style="width:200px;height:200px;"/>
                        </a>
                    </div>
                    <div class="panel-footer">
                        <h4 class="panel-title">Precio: Q.{{ p.4 }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
</div>
</div>

{% endblock content %}