{% extends "index.html" %}
{% block section %}
<br/>
<br/>
<br/>
    <h2>{{titulo}}</h2>
 <div class="container">
      
    
        <div class="row">
          <div class="col-lg-10 col-md-10 col-sm-10">
      <form method="POST"  enctype='multipart/form-data'>
       {% csrf_token %}
      <div class="col-lg-6">
        {{form.as_p}}
      </div>
      <spam class="help-block">..</spam>
    <input class="btn btn-default" type="submit" name="Crear", value=Buscar>
   </form>
   <div class="btn-group">
    <div class="btn-group">
      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
       Order BY
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/Productos/fehaasc">Ordenar Fecha Ascendete</a></li>
        <li><a href="/Productos/fechdesc">Ordenar Fecha Descendente</a></li>
        <li><a href="/Productos/precioasc">Ordenar Precio Ascendente</a></li>
        <li><a href="/Productos/preciodesc">Ordenar Precio Descendente</a></li>
       </ul>
    </div>
  </div>
</div>
   </div>
   </div>
{% endblock section %}
{% block content %}
   <br/>
 <div class="container">
      
    
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3">
            <div class="list-group table-of-contents">
            {% for p in lista_categoria %}
               {% if p.categoria_padre %}
               {% else %}
              <a class="list-group-item" href="/Producto/Categoria/{{p.nombre_categoria}}">{{p.nombre_categoria}}</a>
            {% endif %}
             {% for q in lista_categoria %}
                {% if  p.nombre_categoria in q.categoria_padre %}
                 <a class="list-group-item" href="https://bootswatch.com/flatly/#navbar">{{q.categoria_padre}}</a>
                {% else %}
                {% endif %}
               {% endfor %}
            {% endfor %}
            </div>
          </div>
          
<div class="col-sm-10">
	{% for p in object_list %}
            <div class="col-sm-4 well">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h6 class="panel-title">{{ p.nombre_producto }}</h6>
                        <h6 class="panel-title">{{ p.codigo_producto }}</h6>
                        <h6 class="panel-title">{{ p.categoria_nombre_categoria }}</h6>
                    </div>
                    <div class="panel-body">
                        <a href="/Producto/{{p.codigo_producto}}">
                            <img src="/media/productos/{{p.imagen}}" class='img-responsive' style="width:200px;height:200px;"/>
                        </a>
                    </div>
                    <div class="panel-footer">
                        <h4 class="panel-title">Precio: Q.{{ p.precio_producto }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
</div>
</div>
</div>

{% endblock content %}