{% extends "index.html" %}

{% block section %}
<br/>
<br/>
<br/>
    <h1>{{titulo}}</h1>
    <hr>
{% endblock section %}
{% block content %}
 {% if error == 'S' %}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Lo Sentimos... No tenemos tantas unidades! 
    </div>
{% endif %}
 {% if error == 'C' %}
    <div class="alert alert-dismissible alert-success"">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Muchas Gracias por tu Comentario! 
    </div>
{% endif %}
{% if error == 'P'%}
    <div class="alert alert-dismissible alert-success"">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Muchas Gracias por su Compra! 
    </div>
{% endif %}
 <div class="container">
      
    
        <div class="row">
          
 <div class="container"> <div class="row">
            <div class="col-md-6 well">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{ product.codigo_producto}}</h4>
                    </div>
                    <div class="panel-body">
                        <a href="/media/productos/{{product.imagen}}">
                            <img src="/media/productos/{{product.imagen}}" class='img-responsive' style="width:500px;height:500px;"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 well">
        <div class="panel panel-default">
           <div class="panel-heading">
                        <h3 class="panel-title">Detalles del Producto</h3>
                    </div>
                    <div class="panel-body">
                       <form method="POST" action="" enctype='multipart/form-data'>
                       <h4>Codigo: {{product.codigo_producto}}</h4>
                       <br>
                       <h4>Nombre: {{product.nombre_producto}}</h4>
                       <br>
                       <h4>Categoria: {{product.categoria_nombre_categoria}}</h4>
                        {% if puntuacion %}
                       <br>
                       <h4>Puntuacion: {{puntuacion}}</h4>
                       {% endif %}
                       <br>
                       <h4>Cantidad Disponible: {{product.cantidad}}</h4>
                       <br>
                       <h4>Descripcion: {{product.descripcion}}</h4>
                       {% if colores %}
                       <br>
                       <h4>Colores: 
                       {% for color in colores %}
                       {{color.0}} ,
                       {% endfor %}
                       </h4>
                       {% endif %}
                       <br>
                       <h4>Fecha de Publicacion: {{product.fecha_publicacion}}</h4>
                       {% if us.nombre_usuario and us.apellido_usuario%}
                       <br>
                       <h4>Propietario: {{us.nombre_usuario}} {{us.apellido_usuario}}</h4>
                       {% endif %}
                       <br>
                       <h4>Precio: Q.{{product.precio_producto}}</h4>
                       <br>
                       {% if request.user.is_authenticated %}
                       {% if request.user.is_superuser %}
                       {% else %}
                       <form method="POST"  enctype='multipart/form-data'>
                        {% csrf_token %}
                        <div class="col-lg-4">
                        {{form2.as_p}}
                        <input class="btn btn-default btn-lg" type="submit" name="Crear", value=Comprar>
                       </div>
                      </form>
                      {% endif %}
                      {% endif %}
            </form>
                    </div>
    </div>
  </div>
      </div>
</div>
</div>
<br>
<br>
<br>
  {% if request.user.is_authenticated %}
<div class="container">

  <div class="col-md-13 well">
        
                    
    <div class="panel-body">
        <form method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
            <div class="col-lg-10">
              {{form.as_p}}
              <span class="help-block">Deja un comentario acerca de este producto</span>
              <center>  <input class="btn btn-default btn-lg" type="submit" name="Crear", value=Comentar></center>
          </div>
      </form>
        </div>
   
  </div>
</div>
{% endif %}
<br>
<br>
<br>
{% for p in comentarioslist %}
<blockquote>
  <p>{{p.2}}</p>
  <h6>Puntuacion: {{p.4}}/5</h6>
  <small>{{p.3}} <cite title="Source Title">{{p.5}}</cite></small>
 {% if prop == 'S'%}
 <a href="/Eliminar/Comentario/{{product.codigo_producto}}/{{p.1}}"> <h6>Eliminar</h6></a>
 {% endif %}
</blockquote>
{% endfor %}
</div>

{% endblock content %}