{% extends "index.html" %}
{% block content %}
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>

<div class='col-sm-6 col-sm-offset-3'>
    <h1>Reporte de Turnos</h1>
<table style="width:100%">
  <tr>
   <th>ID</th>
    <th>Paciente</th>
    <th>Encargado</th> 
    <th>Sede</th>
    <th>No. Sala</th>
  </tr>
{% for obj in object_list%}
        <tr>
    <th>{{obj.ID_Operacion}}</th>
    <th>{{obj.Nombre_Paciente}}</th>
    <th>{{obj.Nombre_Trabajador}}</th>
    <th>{{obj.Nombre_Sede}}</th>
    <th>{{obj.Numero_Sala}}</th>
        </tr>
{%endfor%}
</table>
</div>
{% endblock content %}