{% extends "index.html" %}
{% block content %}
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>

<div class='col-sm-6 col-sm-offset-3'>
    <h1>Reporte de Turnos</h1>
<table style="width:100%">
  <tr>
   <th>ID Receta</th>
    <th>Paciente</th>
    <th>Total Medicamento</th> 
    <th>Total Hospitalizacion</th>
    <th>Total Laboratorios</th>
  </tr>
{% for obj in object_list%}
        <tr>
    <th>{{obj.ID_Receta}}</th>
    <th>{{obj.Nombre_Paciente}}</th>
    <th>{{obj.TotalM}}</th>
    <th>{{obj.TotalI}}</th>
    <th>{{obj.TotalL}}</th>
        </tr>
{%endfor%}
</table>
</div>
{% endblock content %}