{% extends "index.html" %}

{% block section %}
<br/>
<br/>
<br/>
    <h2>{{titulo}}</h2>
    <hr>
{% endblock section %}
{% block content %}
{% if mensaje == 'T' %}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Usuario con ID:{}Eliminado Correctamente! 
    </div>
{% endif %}
{% if usuarios %}
<div class='container'>
<table class="table table-bordered table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>#ID</th>
      <th>Foto</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Genero</th>
      <th>Correo</th>
      <th>Password</th>
      <th>Clase</th>
      <th>Credito</th>
      <th>Ganancia</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in usuarios %}
    <tr>
      <th scope="row">{{usuario.id_usuario}}</th>
      <td><img src="/media/{{usuario.id_usuario}}.png" height="50" width="50"></td>
      <td>{{usuario.nombre_usuario}}</td>
      <td>{{usuario.apellido_usuario}}</td>
      <td>{{usuario.genero}}</td>
      <td>{{usuario.correo}}</td>
      <td>{{usuario.password_usuario}}</td>
      <td>{{usuario.clase_cliente}}</td>
      <td>{{usuario.credito}}</td>
      <td>{{usuario.ganancia_usuario}}</td>
      <td><a href="/Eliminar/Usuario/{{usuario.id_usuario}}" class="btn btn-danger">Eliminar</a></td>
      <td><a href="/Editar/Usuario/{{usuario.id_usuario}}" class="btn btn-Info">Editar</a></td>
      <td><a href="/Editar/Carrito/{{usuario.id_usuario}}" class="btn btn-success">Carrito</a></td>
    </tr>
   {% endfor %}
   </tbody>
</table>
 </div>
 {% endif %}
{% endblock content %}
